.app {
  text-align: center;
}

header {
  min-height: 15vh;
  padding: 5vh 0 2vh 0;
}

main {
  min-height: 70vh;
}

footer {
  min-height: 5vh;
  padding: 1vh 0;
}

.highlight {
  background-color: aqua;
}
